{% extends 'base.html.twig' %}

{% block title %}Toutes mes créations
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href=" {{asset('css/allcreation.css')}} ">
	<link rel="stylesheet" href=" {{asset('css/lightbox.min.css')}} ">
{% endblock %}

{% block body %}

	<div class="photo-gallery">
		<div class="container">

			<div class="intro">
				<h1 class="text-center">Ensemble de mes projets</h2>
			</div>

			<div class="row all-creation">
				{% for creation in creations %}
					<div class="card" style="width: 18rem;">
						<a class="border-img" href="{{asset('img/uploads/' ~ creation.picture)}}" data-lightbox="photos">
							<img class="img-fluid" src="{{asset('img/uploads/' ~ creation.picture)}}">
						</a>
						<div class="card-body">
							<h5 class="card-title"> {{creation.title}}</h5>
							{# <p class="card-text">{{creation.description}}</p> #}

							<div class="button-img">
								<a href="#" class="btn btn-primary">Modifier</a>
								<a href="#" class="btn btn-primary">Supprimer</a>
							</div>

						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}


{% block javascripts %}
	{{parent()}}
	<script src=" {{asset('js/lightbox.min.js')}}"></script>
{% endblock %}
