{% extends 'base.html.twig' %}

{% block title %}Toutes mes créations
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" href=" {{asset('css/gallery/gallery.css')}} ">
	<link rel="stylesheet" href=" {{asset('css/gallery/lightgallery.css')}} ">
{% endblock %}

{% block body %}

	<div class="container">
		<div class="demo-gallery">
			<ul id="lightgallery" class="list-unstyled row all-creation">
				{% for creation in creations %}
					<li class="col-xs-6 col-sm-4 col-md-3 col-lg-3" data-src="{{asset('img/uploads/' ~ creation.picture)}}" data-sub-html="<h4>{{creation.title}}</h4><p>{{creation.description}}</p>" data-pinterest-text="Pin it1" data-tweet-text="share on twitter 1">
						<a href="">
							<img class="img-responsive" src="{{asset('img/uploads/' ~ creation.picture)}}" alt="Thumb-1">
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script src=" {{asset('js/gallery/picturefill.min.js')}}"></script>
	<script src=" {{asset('js/gallery/lightgallery.js')}}"></script>
	<script src=" {{asset('js/gallery/lg-pager.js')}}"></script>
	<script src=" {{asset('js/gallery/lg-autoplay.js')}}"></script>
	<script src=" {{asset('js/gallery/lg-fullscreen.js')}}"></script>
	<script src=" {{asset('js/gallery/lg-zoom.js')}}"></script>
	<script src=" {{asset('js/gallery/lg-hash.js')}}"></script>
	<script src=" {{asset('js/gallery/lg-share.js')}}"></script>
	<script src=" {{asset('js/gallery/lg-rotate.js')}}"></script>
	<script>
		lightGallery(document.getElementById('lightgallery'));
	</script>

{% endblock %}
