<nav class="navbar navbar-expand-lg  pt-2 pb-2">
	<div
		class="container">

		<!-- collapse = ouvrir/fermé le menu burger-->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
			<i class="far fa-star"></i>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">

			<ul class="navbar-nav">
				<li class="nav-item ">
					<a class="nav-link" href=" {{path('home')}} ">Accueil</a>
				</li>

				<li class="nav-item ">
					<a class="nav-link" href=" {{path('creation')}} ">Créations</a>
				</li>
				<img src="{{asset('img/logo/Logo_Amalshia_Sombre.png')}}" class="signature ">

				<li class="nav-item dropdown ">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Catégorie
					</a>
					<ul class="dropdown-menu " aria-labelledby="navbarDropdown">
						{% for c in categoryRepository.findAll() %}
							<li>
								<a class="dropdown-item " href="{{path('show_category', {'slug': c.slug})}}">{{c.name}}</a>
								{% if app.user %}
									{% if is_granted('ROLE_ADMIN') %}
										<div class="btn-cat-adm">
											<a class="button-edit-delete" href={{ path('edit_category', {id: c.id} ) }}>
												<i class='btn fas fa-edit'></i>
											</a>
											{# <a class="button-edit-delete" href={{ path('delete_category', {id: c.id} ) }}>
																							<i class='btn fas fa-trash-alt'></i>
																						</a> #}
											<a type="button" class="button-edit-delete" data-bs-toggle="modal" data-bs-target="#deleteCategorieModal{{c.id}}">
												<i class='btn fas fa-trash-alt'></i>
											</a>

										</div>

									{% endif %}
								{% endif %}
							</li>
						{% endfor %}

					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link profess" href=" {{path('contact')}} ">Contact</a>
				</li>
				<div class="nav-item dropdown dropdown-user">
					<a class="nav-link dropdown-toggle link-user" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						{% if app.user %}
							{{ app.user.username }}
						{% else %}
							Mon compte
						{% endif %}

					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						{% if app.user %}

							{% if is_granted('ROLE_ADMIN') %}
								<li>
									<a class="dropdown-item" href="#">Admin</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{path('add_creation')}}">Ajouter une création</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{path('add_category')}}">Ajouter une catégorie</a>
								</li>
							{% endif %}
							<li>
								<a class="dropdown-item" href="{{path('app_logout')}}">Déconnexion</a>
							</li>
						{% else %}
							<li>
								<a class="dropdown-item" href="{{path('app_login')}}">Connexion</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</ul>
		</div>
	</div>
</nav>


<!-- Modal delete-->
<div class="delete-modal">
	{% for c in categoryRepository.findAll() %}
		<div class="modal fade" id="deleteCategorieModal{{c.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Suppression de la catégorie :
							"<span>{{c.name}}</span>"
						</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						Êtes-vous sûr de bien vouloir supprimer la catégorie
						<span>"{{c.name}}"</span>
						ainsi que les créations qui s'y trouvent ?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-modal-annul" data-bs-dismiss="modal">Non</button>
						<a class="btn btn-modal-valid" href={{ path('delete_category', {id: c.id} ) }}>
							Oui, supprimer
						</a>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
